body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9fb;
}

header {
  padding: 20px;
  background: #222;
  color: #fff;
}

nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

main {
  padding: 40px;
}
